.lp-header {
	position: relative;
	margin: 0;
	text-align: center;
	background: red;
	
	> img {
		position: relative;
		z-index: 1;
	}



	// &:after {
	// 	position: absolute;
	// 	border-bottom: 1px solid #e5e5e5;
	// 	content: "";
	// 	height: 0;
	// 	left: 2%;
	// 	right: 2%;
	// 	// top: 0;
	// 	bottom: 0;
	// 	// width: 100%;
	// 	z-index: 10;
	// }
	// .lp-header-code {
	// 	position: absolute;
	// 	left: 199px;
	// 	top: 242px;
	// 	z-index: 5;
	// 	display: block;
	// 	width: 188px;
	// 	height: 50px;
	// 	text-align: center;
	// 	font-size: 2em;
	// 	font-weight: 700;
	// 	line-height: 50px;
	// 	color: #ff0f00;
	// 	background-color: #fff;
	// 	border: 0;
	// }
}