//landing width
$basic-lp-width: 940px;
//fonts
$basic-font-size: 16px;
$color-main-font: #373b46;
//colors
// $color-main: #041e50; 
$color-main: #373b46; //gray
$color-main-bg: #041e50;


$color-red: #f53f1b;
$color-price: #ee011f; //red for price

$font-n24: "Open Sans";
$font-basic: "Roboto";
