
// @import "mixin/sprite_maker";

// @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=latin-ext');
// @import url(https://fonts.googleapis.com/css?family=Rajdhani:400,600,700&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=latin,latin-ext);

body { margin: 0px; }

@import "mixin/mixins";


#landing-page {
	//lp variables
	@import "partials/variables";
	@import "mixin/em";

	//lp box styles
	position: relative;
	width: $basic-lp-width; //1100px - variables.scss
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-size: $basic-font-size; //16px - variables.scss
	font-weight: normal;
	text-align: left;
	color: $color-main-font;

	//selective styles
	@import "partials/basic";
	// @import "partials/grid";
	// @import "partials/wrappers";
	@import "partials/header";
	@import "partials/main";
	// @import "partials/footer";
	// @import "partials/product";
	// @import "partials/buttons";
	// @import "partials/media_queries";
	
}